footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  #logout {
    cursor: pointer;
    opacity: .75;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  #logout:hover {
    opacity: 1;
  }
  #quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    #quote {
      font-weight: 100;
      transition: transform .5s ease-in-out;
      width: 100%;
      font-size: 1.15em;
    }
    span {
      margin-top: 1vh;
    }
    a {
      margin: 0 20px;
      font-size: .95em;
      opacity: .5;
      cursor: pointer;
    }
    a:hover {
      opacity: 1;
    }
  }
  h4:last-child {
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    opacity: .75;
  }
  h4:hover {
    opacity: 1;
  }
}