@keyframes blink {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotatex {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}